/* Navbar stylesheet */

.navbar {
    background-color:palegreen;
    display: flex;
    font-family: 'Trebuchet MS', sans-serif;

    ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333333;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    justify-content: center;
    }

    ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    }

    ul li a:hover {
    background-color: #111111;
    }

}